@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap";
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "profile.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

*{
    box-sizing:border-box;
}

body{
    background-color: #FFFFFF;
    padding: 10px 20px;
    color:#212121;
    font-family:Lato, sans-serif;
}

a{
    color:inherit;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:none;
    }
}

.chats, .friends,.settings, .more, .find  {
    animation: fadeIn 0.5s ease-in-out;
}